{% extends "base.html" %}

{% block title %}Kontakti{% endblock %}

{% block body %}
<div class="container mt-5 text-b">
    <div class="row">
        <div class="col-md-6">
            <h1>Sazinies ar mums</h1>
            <p>
                <strong>SIA "KVITS"</strong><br>
                Faktiskā adrese: Rīgas 113, Salaspils LV-2169<br>
                PVN Reģ.Nr. 40003808709
            </p>

            <h2>Maksājumi</h2>
            <p>
                A/S Swedbanka<br>
                LV25HABA0551012655060
            </p>

            <h2>Saziņai</h2>
            <p>
                Tel: +371 67943055<br>
                Email: <a href="mailto:kvits@apollo.lv">kvits@apollo.lv</a>
            </p>
        </div>
        <div class="col-md-6">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2180.511855894009!2d24.351386899999998!3d56.87146619999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e92d6c9ff360e7%3A0x315340fb0826d98!2sKVITS%20SIA!5e0!3m2!1slv!2slv!4v1746525176520!5m2!1slv!2slv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}