{% extends "base.html" %}

{% block title %}Privātuma Politika{% endblock %}

{% block body %}
<div class="container mt-5 text-b">
    <h1>Privātuma Politika</h1>

    <h2>1. Ievads</h2>
    <p>
        Šajā privātuma politikā ir aprakstīts, kā mēs apkopojam, izmantojam un aizsargājam jūsu personas datus.
    </p>

    <h2>2. Apkopotā informācija</h2>
    <p>
        Mēs varam apkopot šāda veida informāciju:
        <ul>
            <li>Kontaktinformācija (vārds, e-pasta adrese, tālruņa numurs)</li>
            <li>Lietošanas dati (IP adrese, pārlūkprogrammas tips, apmeklētās lapas)</li>
            <li>Sīkdatnes</li>
        </ul>
    </p>

    <h2>3. Informācijas izmantošana</h2>
    <p>
        Mēs izmantojam jūsu informāciju, lai:
        <ul>
            <li>Apstrādātu pasūtījumus</li>
            <li>Sazinātos ar jums</li>
            <li>Uzlabotu mūsu pakalpojumus</li>
        </ul>
    </p>

    <h2>4. Informācijas aizsardzība</h2>
    <p>
        Mēs veicam atbilstošus pasākumus, lai aizsargātu jūsu personas datus.
    </p>

    <h2>5. Informācijas koplietošana</h2>
    <p>
        Mēs nepārdodam un nenomājam jūsu personas datus trešajām pusēm, izņemot gadījumus, kad to pieprasa likums.
    </p>

    <h2>6. Sīkdatnes</h2>
    <p>
        Mēs izmantojam sīkdatnes, lai uzlabotu lietotāja pieredzi un analizētu vietnes lietošanu.
    </p>

    <h2>7. Izmaiņas privātuma politikā</h2>
    <p>
        Mēs varam laiku pa laikam atjaunināt šo privātuma politiku.
    </p>

    <h2>8. Kontakti</h2>
    <p>
        Ja jums ir jautājumi par mūsu privātuma politiku, lūdzu, sazinieties ar mums.
    </p>
</div>
{% endblock %}