{% extends "base.html" %}

{% block title %}Uzņēmuma Vēsture - Kvits.lv{% endblock %}

{% block body %}
<div class="container mt-5 text-b">
    <h1 class="mb-4">Uzņēmuma Vēsture</h1>
    <p>Uzņēmums SIA „Kvits” ir dibināts 2006.gadā. Uzņēmuma galvenais darbības veids ir durvju furnitūras un ar durvīm saistītu metālizstrādājumu tirdzniecība. Savā darbības laikā esam izveidojuši labu sadarbību ar daudziem piedāvājamo preču ražotājiem, kas dod iespēju nodrošināt mūsu klientus ar vajadzīgo preču daudzumu par labākajām cenām. Mūsu klientu vidū ir labākie Latvijas būvmateriālu tirdzniecības veikali, profesionālas galdnieku darbnīcas un vienkārši prasmīgi amatnieki. SIA „Kvits” savā darbībā ievēro visu esošo un potenciālo klientu vēlmes, kā arī vienmēr esam gatavi jaunai sadarbībai.</p>
</div>
{% endblock %}