body {
    color: white;
    font-family: sans-serif;
}

footer {
    background-color: #9B2915;
    color: white;
    font-family: sans-serif;
}

.container-fluid {
    background-color: #9B2915;
}

  

/* .fs-4{
    color:rgb(226, 16, 16);
} */

.nav-link.dropdown-toggle{
    color: white; /* Set dropdown toggle text to white */

}

.dropdown-item{
    color:black;
}

.carousel-item img {
    max-height: 400px; /* Adjust to desired height */
    object-fit: cover; /* Keeps the image aspect ratio */
}

